{% extends "base.html" %}
{% block content %}

<h2>📦 Mes Produits</h2>

<a href="/ajouter_produit">➕ Ajouter un produit</a><br><br>

<table border="1">
<tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Quantité</th>
    <th>Prix achat</th>
    <th>Prix vente</th>
    <th>Bénéfice unitaire</th>
</tr>

{% for p in produits %}
<tr>
    <td>{{ p.id }}</td>
    <td>{{ p.nom }}</td>
    <td>{{ p.quantite }}</td>
    <td>{{ p.prix_achat }}</td>
    <td>{{ p.prix_vente }}</td>
    <td>{{ p.prix_vente - p.prix_achat }}</td>
</tr>
{% endfor %}
</table>

<br>
<a href="/dashboard">⬅ Retour</a>

{% endblock %}