<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>FASO GESTION IA</title>

    <link rel="stylesheet" href="/static/css/layout.css">
</head>

<body>

<div class="app-container">

    <!-- SIDEBAR -->
    <aside class="sidebar">

        <div class="logo">
            📊 FASO GESTION IA
        </div>

        <a href="/" class="menu {% if request.path == '/' %}active{% endif %}">
        🏠 Dashboard
        </a>
        <a href="/produits" class="menu {% if '/produits' in request.path %}active{% endif %}">
        📦 Produits
        </a>
        <a href="/clients" class="menu {% if '/clients' in request.path %}active{% endif %}">
        👥 Clients
        </a>
        <a href="/factures" class="menu {% if '/factures' in request.path %}active{% endif %}">
        🧾 Factures
        </a>
        <a href="/depenses" class="menu {% if '/depenses' in request.path %}active{% endif %}">
        💰 Dépenses
        </a>
        <a href="/statistiques" class="menu {% if '/statistiques' in request.path %}active{% endif %}">
        📊 Statistiques
        </a>
        <a href="/admin" class="menu">⚙️ Administration</a>

        <hr style="opacity:0.3;">
        <li>
            <a href="{{ url_for('abonnement.index') }}">
                👑 Abonnement Pro
            </a>
        </li>
        <li>
            <a href="{{ url_for('abonnement.index') }}">
                👑 Gestion des abonnements
            </a>
        </li>

        <a href="/logout" class="menu danger">🚪 Déconnexion</a>

    </aside>

    <!-- CONTENU -->
    <main class="content">

        <!-- HEADER -->
        <header class="topbar">

            <h3>Bienvenue 👋</h3>

            <div class="user">
                👤 Admin
            </div>
            <div class="card bg-success text-white p-2">

                <strong>👑 PREMIUM</strong>

                <br>

                28 jours restants

            </div>

         </header>

        <!-- CONTENU DYNAMIQUE -->
        <section class="page">

            {% block content %}
            {% endblock %}

        </section>

    </main>

</div>

</body>
</html>
