body{
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background:#0f172a;
    color:white;
}

.sidebar{
    width:230px;
    height:100vh;
    position:fixed;
    background:#020617;
    padding:20px;
}

.sidebar h2{
    color:#22c55e;
}

.sidebar a{
    display:block;
    color:#cbd5e1;
    margin:15px 0;
    text-decoration:none;
    padding:10px;
    border-radius:8px;
    transition:0.2s;
}

.sidebar a:hover{
    background:#1e293b;
    color:white;
}

.main{
    margin-left:250px;
    padding:30px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.card{
    background:#020617;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
}

.card h3{
    color:#94a3b8;
}

.card p{
    font-size:22px;
    font-weight:bold;
    color:#22c55e;
}

.chart{
    margin-top:30px;
    background:#020617;
    padding:20px;
    border-radius:15px;
}
