{% extends "base.html" %}
{% block content %}

<h2>Produits</h2>

<form method="POST" action="/ajouter_produit">
    <input name="nom" placeholder="Nom">
    <input name="quantite" type="number">
    <input name="prix" type="number">
    <button>Ajouter</button>
</form>

<table>
<tr><th>Nom</th><th>Stock</th><th>Prix</th><th></th></tr>
{% for p in produits %}
<tr>
<td>{{ p.nom }}</td>
<td>{{ p.quantite }}</td>
<td>{{ p.prix_vente }}</td>
<td><a href="/supprimer_produit/{{ p.id }}">❌</a></td>
</tr>
{% endfor %}
</table>

{% endblock %}
