<h1>Ajouter Facture</h1>

<form method="POST">

    <input
        type="text"
        name="client"
        placeholder="Nom client"
    >

    <select name="produit_id">

        {% for produit in produits %}

        <option value="{{ produit.id }}">

            {{ produit.nom }}

        </option>

        {% endfor %}

    </select>

    <input
        type="number"
        name="quantite"
        placeholder="Quantité"
    >

    <button type="submit">

        Valider

    </button>

</form>
