<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Faso Gestion IA</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="sidebar">

    <h2>FASO IA</h2>

    <a href="/">Dashboard</a>
    <a href="/produits">Produits</a>
    <a href="/factures">Factures</a>
    <a href="/depenses">Dépenses</a>
    <a href="/abonnement">Abonnement</a>
    <a href="/ia">IA Business</a>

</div>

<div class="main">

    <div class="topbar">

        <h1>Faso Gestion IA</h1>

    </div>

    {% block content %}
    {% endblock %}

</div>

</body>
</html>
